* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #fd3b3b, #f48e19, #057c9c);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 10px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 5px;
}

.todo-app h2 {
    /* color: #f48e19; */
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8eee2;
    border-radius: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
}
input{
    /* flex: 1; */
    border: none;
    outline: none;
    background: transparent;
    width: -moz-available;
    padding: 10px 70px 10px 10px ;
    font-size: 16px;
    
}
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #f48e19;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none; /*Controle de l'apparence de la sélection*/
    cursor: pointer;
    /* background: #057c9c; */
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image:  url(assets/unchecked.png);
    background-size:cover ;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.check {
    color: #555;
    text-decoration: line-through;
}
ul li.check::before {
    background-image: url(assets/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;

}


ul li span:hover {
    background: #9a9a9a;
    border-radius: 5px;
}

/* reponsive */
@media (max-width:500px) {
    .todo-app {
        padding-right: 10px;
    }
    button {
        padding: 15px;
    }
    input {
        width: 165px:
    }
}
